{
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:import/errors",
        "plugin:react/recommended",
        "plugin:jsx-a11y/recommended",
        "prettier",
        "prettier/react",
        "prettier/@typescript-eslint"
    ],
    "rules": {
        "no-console": 1,
        "@typescript-eslint/explicit-function-return-type": "off"
    },
    "plugins": ["react", "import", "jsx-a11y"],
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "settings": {
        "react": {
            "version": "detect"
        },
        "import/resolver": {
            "node": {
                "extensions": [".ts", ".tsx", ".d.ts", ".js"]
            }
        }
    },
    "env": {
        "es6": true,
        "browser": true,
        "node": true,
        "jest": true
    },
    "overrides": [
        {
            "files": ["**/*.ts", "**/*.tsx"],
            "plugins": ["@typescript-eslint", "react-hooks"],
            "parser": "@typescript-eslint/parser",
            "parserOptions": {
                "project": "./tsconfig.json"
            }
        }
    ]
}
